.product_image {
    width: 30%;
}

.vertical-middle {
    vertical-align: middle;
}

.img-wrapper {
  text-align: center;
}

.img-wrapper > img {
    width: 40%;
    text-align: center;
}
/* 
.wrapper {
    flex-direction: row;
} */